Frameworks/*
Pods/
DerivedData/
build/
Vendor/Carthage/
*.dSYM.*
*.ipa
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcshareddata
!*.xcworkspace/xcshareddata
*.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
*.moved-aside
*.DS_Store
test_output/
upload_dsym_results
.idea/
.build/